:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #323232;
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --accent-color: #4985ff;
}
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  background-color: grey;
}
.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}
.menu-item {
}

.hero {
  background-color: grey;
  padding-top: 219px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;

  color: var(--main-title-color);
  max-width: 829px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero-button {
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--secondary-text-color);
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;

  width: 200px;
  height: 45px;
}
