:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #323232;
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --accent-color: #4985ff;
  --mobile-gap: 27px;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  background-color: grey;
}
.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}
.menu-item {
}

.hero {
  background-color: grey;
  padding-top: 219px;
  padding-bottom: 335px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;

  color: var(--main-title-color);
  max-width: 829px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero-button {
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--secondary-text-color);
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;

  width: 200px;
  height: 45px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.mobile-title {
  max-width: 739px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}

.text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--main-text-color);
}

.mobile-text {
  max-width: 730px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.mobile-item-text {
  font-size: 14px;
}

.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 12px;
}

.mobile-list {
  display: flex;
  margin-left: calc(-1 * var(--mobile-gap));
  margin-bottom: 50px;
}

.mobile-item {
  flex-basis: calc((100% - 3 * var(--mobile-gap)) / 3);
  margin-left: var(--mobile-gap);
}

.mobile-button {
  margin: 0 auto;
  border: none;
}
.standart {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f6f6f8;
}
.standart-title {
  color: var(--secondary-title-color);
  margin-bottom: 40px;
}
.standart-text {
  margin-bottom: 30px;
}
.standart-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}
.standart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 70px;
}
.standart-content {
  max-width: 489px;
}
.standart-count {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

.standart-list {
  display: flex;
  justify-content: space-evenly;
}
